* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* background-color: gray; */
}
.headermobile {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
}
.fa-bars {
    font-size: 1.5rem !important;
    cursor: pointer;
}
.projname {
    font-size: 1.5rem;
    color: #012B55;;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
}

/*--start-- 
navbar menue styles (mobile)
*/

.navbar-mobile {
    visibility: hidden;
    background-color: #fff;
    padding-top: 50px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}
.worknav {
    color: #012B55;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navelem{
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}
.linknav {
    text-decoration: none;
    color: #223b55;
    font-size: 1.3rem;
}
.navsocial {
    width: 100%;
    border-top: 1px solid #dfd2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 19px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.socialbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E9EE;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    color: #333;
    margin-right: 10px;
}
.socialnav {
    width: 55px;
    height: 55px;
    margin-right: 20px;
    font-size: 1.2rem !important;
}
.spacearea {
    height: 80px;
}
.closenavbar-mobile {
    opacity: 0.9;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 20px;
}
.xcloser {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
/*--end-- 
navbar menue styles (mobile)
*/

/*--mainstyles--*/
.main {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
/* cards */

.cardbox {
    padding: 2px 0px;
    background-color: #fff;
    width: 100%;
}
.outcard {
    width: 100%;
    position: relative;
}
.hovercard {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: blue;
    z-index: 100;
    opacity: 0;
    font-size: 6rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.hovercard:hover {
    opacity: 0.8;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 100%;
}

/* footer mobile */

.footer {
    background-color: #fff;
    width: 100%;
    padding: 25px 18px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.socials {
    display: flex;
    flex-flow: row;
}
.footersocial {
    padding-bottom: 20px;
}
.footertext {
    color: #6F8498;
    font-family: 'Lucida Sans';
    font-size: 1rem;
}

/* discription style */

.description {
    background-color: #F7F8F9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 38px 48px;
    margin-top: 0 !important;
}
.topdis {
    color: #012B55;
    width: 80%;
    font-size: 1rem;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: 500;
}
.butdis {
    color: #597188;
    margin-top: 13px;
    font-size: 1rem;
}
@media screen and (min-width: 600px) {
/* .headermobile {
    display: none;
} */
.cardbox {
    width: 50%;
    padding: 2px;
}
.description {
    padding: 110px 90px 64px 64px;
    width: 100%;
    font-size: 3rem !important;
}
.topdis {
    font-size: 1.5rem;
    width: 80%;
    font-weight: 200;
}
.main {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

/*  */
.container {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0 30px;
}
.headermobile {
    justify-content: start;
    padding: 50px 0;
}
.head {
    padding: 0 10px;
}
.fa-bars {
    display: none !important;
}
.navbar {
    display: flex;
    flex-flow: column;
}
.navbar-mobile {
    visibility: visible;
    background-color: #fff;
    padding-top: 0px;
    position: unset;
    width: 100%;
    top: unset;
    left: unset;
}
.navelem{
    text-align: unset;
    font-size: 1.3rem;
}
.navsocial {
    width: 100%;
    border-top: 0px solid #fff;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 10;
    padding: 0px;
    position: unset;
    bottom: unset;
    left: unset;
    background-color: #fff;
}
.spacearea {
    display: none;
}
.socialnav {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    font-size: 0.9rem !important;
}
.closenavbar-mobile {
display: none;
}
.xcloser {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
.footer {
    padding: 60px 0;
}
.footersocial {
    padding-bottom: 30px;
}
.socialbox {
    width: 35px;
    height: 35px;
}

}
@media screen and (min-width: 900px) {
    
}